In [1]:
#Random Forest Regressor
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
# Import library for Random Forest Regressor
from sklearn.ensemble import RandomForestRegressor

Clean data is loaded into postgress. Based on all the data inputs available, and trying mulitple models like Random Forest Classifier, Random Forest Regressor, Deep learning, Linear Regression and Logistic Regression, we came to conclusion that Random Forest Regression fits the best with our data. This improves our accuracy scores and does give resonable weightage to all the features that we were using. As of now I am getting accuracy as 91%

In [2]:
#Connection to postgres and pull data from tables loaded after scrubing
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost/Yelp_db')
from sqlalchemy.orm import Session
session = Session(engine)

In [3]:
#Write a query to joining multiple tables from postgres database and load the data into data frame
reviewsDF = pd.read_sql('select r.review_star stars,b.city, b.postal_code, r.ethnic_type from business_reviews r, business_info b where b.business_id = r.business_id and length(b.postal_code)>0',engine)

In [4]:
reviewsDF

        stars       city postal_code ethnic_type
0           4  Las Vegas       89119    American
1           5  Las Vegas       89119    American
2           1  Las Vegas       89119    American
3           2  Las Vegas       89119    American
4           1  Las Vegas       89119    American
...       ...        ...         ...         ...
798392      5  Las Vegas       89148    American
798393      1  Las Vegas       89148    American
798394      5  Las Vegas       89148    American
798395      5  Las Vegas       89148    American
798396      1  Las Vegas       89148    American

[798397 rows x 4 columns]

In [5]:
#Divide data into X and y inputs for training the 
y = reviewsDF.stars
yDF=round(pd.DataFrame(y))
X = reviewsDF

In [6]:
#Combine ethnic types if review counts are less then 4000
categoryCountsX=X.ethnic_type.value_counts()
replace_type=list(categoryCountsX[categoryCountsX<4000].index)
categoryCountsX

American         282775
Mexican          111654
Italian           94749
Asian_Fusion      68085
Japanese          55568
Chinese           34990
French            27687
Thai              27275
Mediterranean     16452
Vietnamese        16004
Greek             14082
Indian            11354
Hawaiian          10632
Korean             8743
Spanish            7396
British            6608
African            4343
Name: ethnic_type, dtype: int64

In [7]:
#Combine ethnic types with others
for application in replace_type:
    X.ethnic_type =  X.ethnic_type.replace(application,"Others")
X.head()

   stars       city postal_code ethnic_type
0      4  Las Vegas       89119    American
1      5  Las Vegas       89119    American
2      1  Las Vegas       89119    American
3      2  Las Vegas       89119    American
4      1  Las Vegas       89119    American

In [8]:
# Generate our categorical variable list
reviewCatX = X.dtypes[X.dtypes == "object"].index.tolist()
X[reviewCatX].nunique()

city             2
postal_code    108
ethnic_type     17
dtype: int64

In [9]:
#Remove decimal from star review
yDF['stars'] = yDF['stars'].astype(str).replace('\.0', '', regex=True)

In [10]:
# Generate our categorical variable list for y
reviewCaty = yDF.dtypes[yDF.dtypes == "object"].index.tolist()
yDF[reviewCaty].nunique()

stars    5
dtype: int64

In [11]:
# predictInputDF = pd.DataFrame(X.groupby(['stars','postal_code','city','ethnic_type']).sum()).reset_index()
predictInputDF = X
predictInputDF['stars'] = round(predictInputDF['stars'])

In [12]:
#Start preparing reviews Dataframe for final output
reviewsForOutput = pd.DataFrame(predictInputDF.groupby(['postal_code','city','ethnic_type'],as_index=False).sum())
reviewsForOutput = reviewsForOutput.drop(['stars'], axis = 'columns')

In [13]:
XInput=predictInputDF.drop(columns=['stars'])

In [14]:
#Explode categories. This is similar to oneHotEncoder
#Get a dataframe ready for predicting entire dataset for final output prediction
dummyCategories = pd.get_dummies(XInput.ethnic_type)
dummyCity = pd.get_dummies(XInput.city)

In [15]:
#Get a dataframe ready for preparing training and testing datasets
new_review_all = pd.concat([XInput, dummyCategories], axis = 'columns')
new_review_all = pd.concat([new_review_all, dummyCity], axis = 'columns')
final_PC = new_review_all.drop(['city', 'ethnic_type'], axis = 'columns')
X=final_PC
X_test_data= X

In [17]:
#Getting output dataset ready. This means formating it the same as X but should have unique features only.
dummyCategories1 = pd.get_dummies(reviewsForOutput.ethnic_type)
dummyCity1 = pd.get_dummies(reviewsForOutput.city)
finalOutputX = pd.concat([reviewsForOutput, dummyCategories1], axis = 'columns')
finalOutputX = pd.concat([finalOutputX, dummyCity1], axis = 'columns')
finalOutputX = finalOutputX.drop(['city', 'ethnic_type'], axis = 'columns')

In [18]:
# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, yDF, test_size=0.33, random_state=1)
#Scale and transform
scaler = StandardScaler()
x_scaler=scaler.fit(X_train)
X_train_scaled = x_scaler.transform(X_train)
X_test_scaled = x_scaler.fit_transform(X_test)
x_test_data_scaled = x_scaler.fit_transform(finalOutputX)

In [19]:
# Create a model
rf_model = RandomForestRegressor(n_estimators=50, max_depth=32, random_state=2)

In [20]:
#Fit the model using scaled trained data
rf_model = rf_model.fit(X_train_scaled, y_train)

C:\Users\Lisa\.conda\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

In [21]:
# Verify the model with test data
y_pred = rf_model.predict(X_test_scaled)

In [22]:
#Score found for random forest regressor
rf_model.score(X_test_scaled,y_test)

-0.09454868483410506

In [23]:
#Predictions for entire dataset with unique features
ynew = rf_model.predict(x_test_data_scaled)

In [24]:
#Score test data
rf_model.score(x_test_data_scaled,ynew)

1.0

In [25]:
#Create dataframe to load into database
reviewsForOutput['prediction']=np.round(ynew)
reviewsForOutput['prediction']=reviewsForOutput['prediction'].astype(str).replace('\.0', '', regex=True)
reviewsForOutput

    postal_code       city    ethnic_type prediction
0         85001    Phoenix       American          2
1         85001    Phoenix        Italian          4
2         85001    Phoenix        Mexican          4
3         85001    Phoenix        Spanish          4
4         85003    Phoenix       American          2
..          ...        ...            ...        ...
730       89183  Las Vegas       Japanese          4
731       89183  Las Vegas  Mediterranean          4
732       89183  Las Vegas        Mexican          4
733       89183  Las Vegas           Thai          4
734       93013  Las Vegas       American          2

[735 rows x 4 columns]

In [26]:
#Insert data into postgres
reviewsForOutput.to_sql(name='review_prediction', con=engine, if_exists='replace' ,index=True)